@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-900 dark:text-zinc-200 mdl:flex;
  }
}

@layer components {
  /* Side-Bar */
  .Side-Bar-Card {
    @apply Main-Hover-Color -mx-3 rounded-md px-3 py-2;
  }
  /* Side-Bar */

  /* Pages */
  .Main-Card {
    @apply Main-Border-Color flex min-h-14 w-48 items-center justify-center gap-2.5 rounded-md px-4 py-2 text-center shadow-sm lgx:w-50 xl:w-52;
  }
  /* Pages */
}

@layer utilities {
  .Main-Hover-Color {
    @apply transition-colors hover:bg-zinc-200/70 dark:hover:bg-zinc-700;
  }
  .Main-Border-Color {
    @apply border transition-colors hover:border-zinc-400 dark:border-zinc-700 dark:hover:border-zinc-500;
  }

  /* Side-Bar */
  .Side-Bar-Title {
    @apply pb-4 text-xs tracking-wide text-zinc-600 dark:text-zinc-400;
  }
  .Side-Bar-Card-List {
    @apply flex flex-col gap-y-1;
  }
  .Side-Bar-Card-Hover {
    @apply flex items-center gap-x-2 transition-all;
  }
  /* Side-Bar */

  /* Pages */
  .Page {
    @apply h-full max-h-dvh min-h-dvh w-full overflow-y-auto;
  }
  .Page-Content {
    @apply mx-auto flex w-full max-w-[780px] flex-col gap-y-8 px-6 pb-12 pt-18 sm:gap-y-9 md:gap-y-10 md:px-8 mdl:gap-y-11 mdl:px-12 mdl:py-14 lg:gap-y-12 lg:py-18 lgx:py-22 xl:py-30;
  }
  .Page-Title {
    @apply text-center text-4xl font-bold tracking-[-2px] mdl:text-left lg:text-5xl;
  }
  .Main-Card-List {
    @apply flex flex-wrap items-center justify-center gap-4 mdl:items-start mdl:justify-normal lg:gap-6;
  }
  /* Pages */
}

/* no-scrollbar */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* no-scrollbar */

/* Hamburger Menu */
.Hamburger-Menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Menu-Rotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: currentColor;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.Ham-Menu .top {
  stroke-dasharray: 40 160;
}
.Ham-Menu .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.Ham-Menu .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition:
    transform 400ms,
    stroke-dashoffset 400ms;
}
.Ham-Menu.active .top {
  stroke-dashoffset: -64px;
}
.Ham-Menu.active .middle {
  stroke-dashoffset: 0;
  transform: rotate(90deg);
}
.Ham-Menu.active .bottom {
  stroke-dashoffset: -64px;
}
/* Hamburger Menu */
